.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
.vscode
application/**/.env
application/**/.vite
application/**/cypress.env.json

# Dependency directories
node_modules/
application/*/dist/

application/*/coverage/
*.tgz

application/user-client/cypress/downloads
application/admin-client/cypress/downloads
application/backend/prisma/generated
testvalues.yaml
