{
  oidc: [
    /*{
      name: '',
      providerUrl: '',
      icon: '',
      clientId: '',
      clientSecret: '',
      displayInAdminPortal: true,
      displayInUserPortal: true
    },*/
  ],
  disableAdminPasswordLogin: false,
  otp: false,
  inviteExpiryDays: 7,
  smtp: {
    host: '',
    port: 587,
    username: '',
    password: ''
  }
}
