{
  oidc: [
    {
      name: '',
      providerUrl: '',
      icon: '',
      clientId: '',
      clientSecret: '',
    },
  ],
  disablePasswordLogin: true,
  otp: false,
  smtp: {
    host: '',
    port: 587,
    username: '',
    password: ''
  }
}
