{
  oidc: [
    /*{
      name: '',
      providerUrl: '',
      icon: '',
      clientId: '',
      clientSecret: '',
      displayInAdminPortal: true,
      displayInUserPortal: true
    },*/
  ],
  disablePasswordLogin: true,
  otp: false,
}
