POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=ctrl
DB_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${DB_PORT}/${POSTGRES_DB}
JWT_SECRET=
JWT_EXPIRY=1h
ADMIN_EMAIL=admin@example.org.au
ADMIN_PASSWORD=password
PORT=5000
MAILER_HOST=smtp.organisation.com
MAILER_PORT=465
MAILER_USERNAME=mailer@example.com
MAILER_PASSWORD=
HOSTNAME=ctrl.garvan.org.au
REDCAP_API_KEY=
