POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=ctrl
DB_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${DB_PORT}/${POSTGRES_DB}
JWT_SECRET=TEST
JWT_EXPIRY=1h
CTRL_ADMIN_EMAIL=testorg-admin@testorg.org.au
EXAMPLE_ADMIN_EMAIL=admin@example.com
EXAMPLE_ADMIN_PASSWORD=Testpassword1
EXAMPLE_PARTICIPANT_EMAIL=user@example.com
EXAMPLE_PARTICIPANT_PASSWORD=Testpassword2
MAILER_HOST=smtp.ethereal.email
MAILER_PORT=587
MAILER_USERNAME=
MAILER_PASSWORD=
HOSTNAME=http://localhost:5173