POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=ctrl
DB_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${DB_PORT}/${POSTGRES_DB}
JWT_SECRET=SOME_SECRET
CTRL_ADMIN_EMAIL=study-org-admin@example.org.au
PORT=5001
MAILER_HOST=smtp.organisation.com
MAILER_PORT=465
MAILER_USERNAME=mailer@example.com
MAILER_PASSWORD=SecurePassword123
